/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  background: #1e293b;
  color: white;
  padding: 10px 20px;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

/* LAYOUT */
.container {
  display: flex;
}

/* MENU */
aside {
  width: 220px;
  background: #0f172a;
  height: 100vh;
  color: white;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
}

aside li:hover {
  background: #1e293b;
}

/* CONTEÚDO */
main {
  flex: 1;
  padding: 20px;
}

/* TÍTULOS */
h1, h2 {
  margin: 0;
}

/* Ícones */
aside i {
  margin-right: 10px;
}