body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

input {
  display: block;
  margin: 5px auto;
  padding: 8px;
}

button {
  padding: 10px;
  margin: 10px;
}